{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600;900&family=Nunito:wght@700&display=swap"
    rel="stylesheet">
  <title>Hello, world!</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <img src="{% static 'svg/navlogo.svg' %}" alt="">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Product<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Location<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Our Client<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Events & Blogs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact Us<span class="sr-only">(current)</span></a>
        </li>
        <button class="btn-outline-primary bg-warning">Login</button>
      </ul>

    </div>
  </nav>

  <!-- <nav class="px-lg-5 px-2">
     <a class="navbar-brand" href="">
<img src="{% static 'svg/navlogo.svg' %}" alt="">
  </a>
  </nav> -->

  <div id="parent">
    <div class="contant p-lg-5 p-5 ml-lg-5">
      <h1>
        <div>The Best</div>
        <div>Co Working Space</div>
        <div>for free</div>
      </h1>
      <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, </small>
      <div class="py-3 py-lg-5">
        <a href="" class="btn btn-outline-primary">Get your free seat now*</a>
      </div>
    </div>
    <div class="ml-lg-5">
      <div class="ml-lg-5">
        <div class="ml-lg-5">
          <div class="ml-lg-5">
            <div class="ml-lg-5">
              <div class="ml-lg-5">
                <div class="image mw-100 ml-lg-5"><img src="{% static 'images/home.png' %}" class="card-img " alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="p-2 p-lg-5">
    <div class="row h-50">
      <div class="col-lg-3">
        <div class="pt-lg-5">
          <div class="pb-3 pb-lg-5">
            
          </div>
          <div class="pb-lg-5 pb-3">
           
          </div>

         


        </div>
      </div>
      <div class="col-lg-9">
        <img src="{% static 'images/home.png' %}" class="card-img " alt="...">
      </div>
    </div>

  </div> -->

  <div class="row p-lg-5 p-5 mt-lg-5">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-7">
          <div class="font-weight-bold">
            <h2>Why coco<i class="fa fa-question"></i></h2>
          </div>
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
        </div>
        <div class="col-lg-5">
          <i class="fa fa-arrow-right fa-2x"></i>
        </div>
      </div>

    </div>
    <div class="col-lg-8 ">
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-3 col-3">
              <img src="{% static 'svg/y1.svg' %}" alt="">
            </div>
            <div class="col-lg-9 col-9">
              <div class="font-weight-bold">
                <h4>Workstations make you forget stress</h4>
              </div>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-3 col-3">
              <img src="{% static 'svg/y2.svg' %}" alt="">
            </div>
            <div class="col-lg-9 col-9">
              <div class="font-weight-bold">
                <h4>your space your time</h4>
              </div>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-3 col-3">
              <img src="{% static 'svg/y3.svg' %}" alt="">
            </div>
            <div class="col-lg-9 col-9">
              <div class="font-weight-bold">
                <h4>we work hard,party harder</h4>
              </div>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-6">
      <div class="row">
        <div class="col-lg-4 col-4 img-fluid">
          <table class="table table-borderless ">
            <thead class="img-fluid">
              <tr>
                <th scope="col">
                  <img src="{% static 'images/i1.png' %}" alt="" class="" style="height: 200px;">
                </th>
              </tr>
            </thead>
            <tbody class="img-fluid">
              <tr>
                <th scope="row"><img src="{% static 'images/middle.png' %}" alt="" style="height: 400px;"></th>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-4 p-lg-5 p-5">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"><img src="{% static 'images/middle1.png' %}" alt="" style="height: 400px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><img src="{% static 'images/i4.png' %}" alt=""></th>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-4">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"><img src="{% static 'svg/i5.svg' %}" alt="" style="height: 200px;" class="mb-lg-5"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div class="mb-lg-5 pb-lg-5">
                  <th scope="row"><img src="{% static 'images/i2.png' %}" class="mt-lg-5 pb-lg-5" alt=""></th>
                </div>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-lg-5 p-5">
      <div class="row">
        <h1 class="coco font-weight-bold " style="color: rgb(237, 237, 58);">COCO &nbsp;<h6 class="pt-lg-3 pt-3">perfect
            home for</h6>
        </h1>
      </div>
      <div class="row font-weight-bold ">
        <h1>Freelancers</h1><img src="{% static 'svg/logo.svg' %}" alt="" style="transform: rotate(330deg);">
      </div>
      <div class="row font-weight-bold ">
        <h1>Digital Drifters</h1><img src="{% static 'svg/logo.svg' %}" alt="" style="transform: rotate(330deg);">
      </div>
      <div class="row font-weight-bolder ">
        <h1>Start-Ups</h1> &nbsp;<h6 class="pt-lg-3 pt-3">of any kind</h6><img src="{% static 'svg/logo.svg' %}" alt=""
          style="transform: rotate(330deg);">
      </div>
      <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla praesentium, ducimus illo consectetur sint
        nam! Praesentium perferendis provident error sunt nobis, excepturi fuga quis quas voluptates temporibus modi
        quibusdam labore.</small>
      <div>
        <a href="" class="btn btn-light my-lg-5 "><i class="fa fa-play-circle fa-2x" style="color: red;"></i> &nbsp; <b
            class="p-2 p-lg-2">Play to explore</b> </a>
      </div>
    </div>
  </div>

  <div class="row m-lg-5" style="background-color: rgb(228, 223, 223); border-radius: 20px;">
    <div class="col-lg-5">
      <div class="p-lg-5 p-5">
        <div class="row">
          <h1>Why work Just</h1>
        </div>
        <div class="row"><img src="{% static 'svg/logo.svg' %}" alt="" style="transform: rotate(330deg);">
          <h1 style="color: rgb(116, 112, 112);">'Anywhere'</h1>
        </div>
        <div class="row">
          <h1>When You Can</h1>
        </div>
        <div class="row">
          <h1>Work Here? </h1> <img src="{% static 'svg/logo.svg' %}" alt="" style="transform: rotate(330deg);">
        </div>
        <div>
          <small>what are you looking</small>
        </div>
        <div>
          <small>here is what you looking</small>
        </div>
        <div class="py-lg-3 py-3">
          <a href="" class="btn btn-outline-primary">Get your free seat now*</a>
        </div>
      </div>
    </div>
    <div class="col-lg-7">

      <div class="row py-lg-4 py-3">
        <div class="col-lg-3   pt-lg-5 pt-4 ">
          <div class="card  p-lg-4 p-4 w-50 m-lg-5 m-5">Front desk</div>
          <div class="card p-lg-4 p-4 w-50 m-lg-5 m-5">Service</div>
          <div class="card p-lg-4 p-4 w-50 m-lg-5 m-5">Access Events</div>
          <div class="card p-lg-4 p-4 w-50 m-lg-5 m-5">Area</div>
        </div>
        <div class="col-lg-3 ">
          <div class="card p-lg-4 p-4 w-75 h-25 m-lg-5 m-5"><img src="{% static 'svg/Framefacilities-2.svg' %}" alt=""><div>Gym</div></div>
          <div class="card p-lg-4 p-4 w-75 h-25  m-lg-5 m-5"> <img src="{% static 'svg/Framefacilities-1.svg' %}" alt=""><div>Example</div></div>
          <div class="card p-lg-4 p-4 w-75 h-25  m-lg-5 m-5"> <img src="{% static 'svg/Framefacilities-3.svg' %}" alt=""><div>example</div></div>
 
        </div>
        <div class="col-lg-3 ">
          <div class="card p-lg-4 p-4 w-75 h-25 m-lg-5 m-5"><img src="{% static 'svg/Framefacilities-2.svg' %}" alt=""><div>Gym</div></div>
          <div class="card p-lg-4 p-4 w-75 h-25  m-lg-5 m-5"> <img src="{% static 'svg/Framefacilities-1.svg' %}" alt=""><div>Example</div></div>
          <div class="card p-lg-4 p-4 w-75 h-25  m-lg-5 m-5"> <img src="{% static 'svg/Framefacilities-3.svg' %}" alt=""><div>example</div></div>
 
        </div>
        <div class="col-lg-3 pt-lg-5 pt-4 ">
          <div class="card  p-lg-4 p-4 w-50 m-lg-5 m-5">Front desk</div>
          <div class="card p-lg-4 p-4 w-50 m-lg-5 m-5">Service</div>
          <div class="card p-lg-4 p-4 w-50 m-lg-5 m-5">Access Events</div>
          <div class="card p-lg-4 p-4 w-50 m-lg-5 m-5">Area</div>
        </div>
        
      </div>
    </div>
  </div>










  <div>
    <div>
      <h2 class="product" style="text-align: center;">Products</h2>
    </div>
    <div class="mx-lg-5 ">
      <div class="row border border-success mx-lg-5 mx-5 p-lg-5 p-4 mh-50"
        style="background-color: rgb(211, 253, 211);border-radius: 20px;">

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-2 col-2">
              <i class="fa fa-calendar fa-2x"></i>
            </div>
            <div class="col-lg-10 col-10">
              <div class="font-weight-bold">
                <h4>Monthly Subscription</h4>
              </div>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-2 col-2">
              <i class="fa fa-solid fa-hourglass-1 fa-2x"></i>
            </div>
            <div class="col-lg-10 col-10">
              <div class="font-weight-bold">
                <h4>Day Pass</h4>
              </div>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-2 col-lg-2">
              <i class="fa fa-solid fa-hourglass-1 fa-2x"></i>
            </div>
            <div class="col-lg-10 col-10 pb-lg-5 pb-5">
              <div class="font-weight-bold">
                <h4>Events & Shoot</h4>
              </div>
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit</small>
            </div>
          </div>
        </div>

        <div class="mx-auto" style="width: 200px;color: black;">
          <a href="" class="btn btn-outline-primary bg-warning">Explore All Products </a>
        </div>

      </div>
    </div>

  </div>


  <div class="pt-lg-4 p-3">
    <h2 class="product" style="text-align: center;">Products</h2>
  </div>
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-3 btn btn-success m-lg-4 m-4" style="border-radius: 20px;color: black;">Cochin</div>
      <div class="col-lg-3 btn text-muted  m-lg-4 m-4 btn-light border-0" style="background-color: rgb(231, 223, 223);">Coming Soon</div>
      <div class="col-lg-3 btn text-muted  m-lg-4 m-4 btn-light border-0" style="background-color: rgb(231, 223, 223);">Coming Soon</div>
    </div>

  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
</body>

</html>